* {
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
  font-family: "Darker Grotesque", sans-serif;
}

.App {
  font-family: sans-serif;
  text-align: center;
  background-image: linear-gradient(#69024ada, #94231fe3),
    url("https://www.reallusion.com/ContentStore/CTA/Pack/G3-Animation-Suite-Weather-Maker/images/sunny.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg {
  opacity: 0.3;
}

.weather-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

h3 {
  font-size: 3rem;
  margin-bottom: -0.4rem;
}

h4 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.temp {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

#demo-customized-select-label {
  color: white;
}

#err {
  color: rgb(219, 219, 219);
  font-size: 1.5rem;
}

#city-err {
  font-style: italic;
  font-size: 1.6rem;
  color: rgb(250, 154, 154);
}

.menu-item-drop:hover {
  background-color: rgb(70, 69, 69) !important;
}
